/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: "english" ;
    src: local("english"),url(./assets/fonts/english-adagio-bt.ttf) format("truetype")
}

html { 
    background-color: #071d3b;
    /* position: relative; */
    /* width: 1000px; */
   /*  height:1000px; */
    /* margin: auto; */

    width: 100%;
    /*max-width: 800px;*/
    content:"width = 1000";
    margin: 0 auto;
    padding-top: 1cm;
    padding-left: 1cm;
    
    white-space: pre;
}

.content {
   
    /* width:  1000px; */
    /* height: 1000px; */
    /* overflow:auto; */
}

.container {
   /* max-width: 2000px; */
    /* margin: 0 auto; */         /*  will center the container on wide screen  */
     display:inline-table; 
    /* justify-content: center; */

    /*
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2cm;
*/
   
    
  }

  .container_body {
    /* max-width: 1500px; */
    /* margin: 0 auto;    */     /*  will center the container on wide screen  */
    /* display: flex; */
    
    /* justify-content: center; */
    font-size: 40px;
    
  }

  .imgdiv {
      
  }

.colortext {
    color:#dbb680;
    font-size: 65px;
    font-family: "english";
  /* 
    margin-top: 60px;
    margin-left: 50px;
    */

   

}

.list-set {
    color:#dbb680
    
}

.search{
    font-size: 50px;
    color:white;
    /*
    margin-left: 100px;
    margin-top: 100px;
    */
}

.box {
    /*
    margin-top: 120px;
    margin-left: 20px;
    */

}

.body {
    color:#dbb680
}