
<div>
  <div class="container">
    <div class = "imgdiv">
      <img src = "../assets/img/sibyderyl.png">
    </div>
    <div class = "colortext">
      Reception Seating Chart
    </div>
    <div class = "search">
      Name: 
    </div>
    <div class = "box">
      <input>
    </div>
  </div>
</div>

<body>
  Testing documentation

</body>

<div class="md-form">
  <input type="search" [(ngModel)]="searchText" placeholder="Search Name">
</div>
<ul *ngFor="let data of dataset | filter: searchText" class = "list-set">
  <li>{{data}}</li>
</ul>



<router-outlet></router-outlet>
