
<div>
  <div class="container">
    <div class = "imgdiv">
      <img src = "../assets/img/sibyderyl.png">
    </div>
    <div class = "colortext" >
      Reception Seating Chart
    </div>
<!-- 
    <div class = "search">
      Name: 
    </div>
    <div class = "box">
      <input>
    </div>
-->
    <div class="md-form">
      <input type="search" [(ngModel)]="searchText" placeholder="Search Name">
    </div>

  </div>
</div>
<!--
  If centering in this manner is not to liking remove class = "container" from h1, li, and img
-->
<body >
  <div class = "body">
<!--
  <h1 class = "container_body">
      Seating List
    </h1>
-->
    

  </div>
  <ul *ngFor="let data of dataset | filter: searchText" class = "list-set">
    <li class = "container" style="font-size: 35px;">{{data}}</li>
  </ul>

  <div class = "imgdiv">
    <img class = "container" src = "../assets/img/table0.png">
  </div>

</body>

<!--

<div class="md-form">
  <input type="search" [(ngModel)]="searchText" placeholder="Search Name">
</div>

<ul *ngFor="let data of dataset | filter: searchText" class = "list-set">
  <li>{{data}}</li>
</ul>

-->





<router-outlet></router-outlet>
